@using EmployeeManagement.Entities;
@{
    ViewBag.Title = "ViewData";
}
@{ 
    List<Employee> data = ViewBag.Data;
}
<h2>ViewData</h2>
<table class="table-bordered">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
    </tr>
    @{
    foreach(var i in data) {
    <tr>
        <td>@i.Name</td>
        <td>@i.Email</td>
    </tr>
            } }
</table>
<a href="/Home/Export">Export</a>
